
<div class="cotnainer mt-4 mx-5 border-top">
    <div class="text-center mt-3 mx-5">
        <p style="font-size:20px">
            <%= comment.commenter %> <strong>says...</strong> <%= comment.body %>
            <strong>and gives a score of...</strong> <%=comment.score%>
        </p>
    </div>
    <div class="d-grid d-sm-flex justify-content-sm-end pr-3 pb-3">
        <%= link_to 'Destroy Comment', 
            [comment.article, comment], 
            method: :delete,data: {confirm: 'Are you sure?'} %>
    </div>
</div>


