<header class="py-3 bg-dark text-white">
    <div class="d-flex felx-wrap pl-5">
        <a class="text-white text-decoration-none" href="/">
            <span style="font-size:40px"><%=title%></span>
        </a>
    </div>
</header>
