
<%= render "header", article: @article, title: 'Articles Blog'%>

<div class="container">
    <!--Our blog has <%= Article.public_count %> articles and counting!-->

    <div class="container">
        <div class="d-flex justify-content-center p-5">
            <button type="button" class="btn btn-primary">
                <%= link_to "New Article", new_article_path, class: "text-white" %>
            </button>
        </div>
    </div>
    

    <div class="list-group">
        <% @articles.each do |article| %>
            <% unless article.archived? %>
                <button type="button" class="list-group-item list-group-item-action p-5">
                    <%= link_to article.title, article%>
                </button>
            <% end %>
        <%end%>
    </div>
</div>

<footer style="height: 50px"></footer>


