
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex felx-wrap align-items-center jusify-content-center justify-content-lg-start">
            <a class="d-flex flex-wrap align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/">
                <span class="fs-2" style="font-size:40px">Articles Blog</span>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <!--Our blog has <%= Article.public_count %> articles and counting!-->

    <div class="container">
        <div class="d-flex justify-content-center p-5">
            <button type="button" class="btn btn-primary">
                <%= link_to "New Article", new_article_path, class: "text-white" %>
            </button>
        </div>
    </div>
    

    <div class="list-group">
        <% @articles.each do |article| %>
            <% unless article.archived? %>
                <button type="button" class="list-group-item list-group-item-action p-5">
                    <%= link_to article.title, article%>
                </button>
            <% end %>
        <%end%>
    </div>
</div>

<footer style="height: 50px"></footer>


